*{
    padding: 0%;
    margin: 0%;

    font-family: gotam-light;
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}
.sections{
    width: 100%; 
    height: 100vh;
}
a {
    text-decoration: none; /* Quita la subrayado del enlace */
    color: inherit; /* Usa el color de texto heredado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
}
ul li{
    list-style: none;
}
p{
    line-height: 1.5em;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Seccion header (Start)*/
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background: rgba(255, 255, 255, 0.76);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.3);

    border-bottom: 0.3px solid var(--color-fourth);
    padding-top: 34px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;

    position: fixed;
    z-index: 100;
}
.logo{
    width: 180px;
    height: 60px;
}
.header-menu{
    display: none;
}
.list-menu{
    display: flex;
    align-items: center;
}
.list-menu li a{
    color: var(--color-one);
    font-size: var(--size-three);
    margin: 0 16px;
}
/*Seccion header (end)*/

/*Seccion first (Start)*/
.first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url('../data/img/first/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.tittle-section-first-box{
    width: 60%;
    margin-top: 164px;
}
.tittle-section-first-one{
    font-size: var(--size-one);
    color: var(--color-one);
    text-align: center;
}
.tittle-section-first-two{
    font-size: var(--size-two);
    color: var(--color-two);
    font-family: tan-nimbus;
    text-align: center;
}

/*Seccion first (end)*/

/*Seccion second(Start)*/
.second{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../data/img/second/1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    overflow: hidden;

    padding-top: 64px;
    height: auto;
}
.hashtag{
    display: flex;
    justify-content: space-around;
    padding: 10px;

    width: 40%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 64px;

    border: solid 0.5px;
    border-color: var(--border-color-one);
    border-radius: 16px;

    color: var(--color-three);
    font-size: var(--size-six);
    overflow: hidden;
}
.text_hashtag{
    margin:0 16px 0 16px;
}
.about{
    display: flex;
    width: 60%;
    height: 100vh;
    
}
.about img{
    /*width: 600px;*/
    width: 65vh;    
}
.tittle-one-section-second{
    font-size: var(--size-fourth);
    color: var(--color-three);
    margin-top: 13vh;
}
.tittle-two-section-second{
    font-size: var(--size-five);
    color: var(--color-three);
    font-family: tan-nimbus;
}
.section-second-about-text{
    width: 80%;
    color: var(--color-three);
    font-size: var(--size-three);
}
/*Seccion second(end)*/

/*Seccion third (Start)*/
.third{
    display: flex;
    justify-content: center;

    background-image: url('../data/img/three/1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tittle-one-section-third{
    margin-top: 24vh;
    font-size: var(--size-fourth);
    color: var(--color-one);
    margin-left: 20%;
}
.tittle-two-section-third{
    font-size: var(--size-five);
    color: var(--color-two);
    margin-left: 20%;
    margin-bottom: 32px;
    font-family: tan-nimbus;
}
.section-third-vision-text{
    width: 90%;
    color: var(--color-one);
    font-size: var(--size-three);
    margin-left: 20%;

    position: relative;
}
.contact-box{
    margin-top: 64px;
    margin-left: 20%;
}
.contact-me{
    background: var(--color-two);
    font-size: var(--size-three);
    color: var(--color-three) !important;
    padding: var(--padding-buttons);

    border-radius: var(--border-radius-button);
}
.whats-app{
    padding: 4px;
    font-size: var(--size-three);
    color: var(--color-one);

    margin-left: 32px;
}
/*Seccion third (end)*/

/*Seccion fourth (Start)*/
.fourth{
    background-image: url('../data/img/fouth/1.png');
    background-repeat: no-repeat;
    background-size:100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;
}
.tittles-section-fourth{
    padding-top: 64px;
    display: flex;
    z-index: 1;
}
.tittles-one-section-fourth{
    font-size: var(--size-fourth);
    color: var(--color-one);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.tittles-two-section-fourth{
    font-size: var(--size-five);
    color: var(--color-two);
    font-family: tan-nimbus;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box-events{
    z-index: 1;
    margin-top: 32px;
    margin-bottom: 64px;
    width: 60%;
    height: 30vh;

    padding: 16px 0;
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: rgba(255, 255, 255, 0.3);

    display: flex;

    /*Cuando pongo estos comandos al poner la versión en la PC sale bien y en la phone sale mal y visebersa(inicio)*/
    /*justify-content: space-around;*/
    justify-content: center;
    /*Cuando pongo estos comandos al poner la versión en la PC sale bien y en la phone sale mal y visebersa(fin)*/

    flex-direction: column;
    align-items: center;

    overflow: scroll;
    height: auto;

    min-height: 180px;
}

/* Estilos para el scroll vertical */
.box-events::-webkit-scrollbar {
    width: 0; /* Ancho del scrollbar */
}

.box-events::-webkit-scrollbar-thumb {
    background-color: var(--color-fourt); /* Color del thumb (barra deslizadora) */
    border-radius: 32px; /* Radio de borde del thumb */
}

/* Estilos para el scroll horizontal */
.box-events::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Color de fondo de la barra de scroll */
}

.box-events::-webkit-scrollbar-thumb {
    background-color: #88888800; /* Color del thumb (barra deslizadora) */
}

.class-event{
    width: 350px;
}
.box-data-event{
    display: flex;
}
.event-name{
    display: flex;
}
.event-name p{
    width: 210px;
}
.date-event{
    text-align: right;
    margin-top: 0;
    width: 100%;
    margin-left: 32px;
}
.box-data-event img{
    margin-right: 8px;
    width: 25px;
    height: 25px;
}
.box-data-event p{
    margin-right: 32px;
    color: var(--color-one);
}
.box-events-descriptions{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 0.3px solid var(--color-fourth);
    padding-bottom: 8px;
    margin-top: 16px;
    padding-bottom: 24px;
}
.box-events-descriptions img{
    color: var(--color-one);
    font-size: var(--size-six);
}
.box-events-descriptions h3{
    color: var(--color-one);
    font-size: var(--size-six);
}

.box-events-descriptions p{
    color: var(--color-one);
    font-size: var(--size-six);
}
.box-historys{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 30vh;
    z-index: 1;
}
.section-fourth-tittle-history{
    color: var(--color-one);
    font-size: var(--size-six);
    margin-bottom: 16px;

    text-align: left;
}
.history p{
    color: var(--color-one);
    font-size: var(--size-three);
}
.social-box-fourth{
    margin-top: 16px;
    display: flex;
    justify-content: lef;
    align-items: center;
    margin-bottom: 32px;
}
.social-box-fourth img{
    width: 25px;
    height: 25px;
    margin-right: 6px;
}
.social-box-fourth p{
    font-size: var(--size-six);
    color: var(--color-two);
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 64px;
}
.member-image{
    margin: 0 16px;
    width: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-image img{
    width: 80px;
    height: 80px;
    border: 3px solid var(--border-color-two);
    padding: 8px;

    border-radius: 100%;
}
.member-image p{
    margin-top: 16px;
    font-size: var(--size-three);
    color: var(--color-one);
    text-align: center;
}
/*Seccion fourth (end)*/

/*Seccion fifth (Start)*/
.hand{
    position: absolute;
    left: 5vw; /* Posición horizontal centrada */
    top: 420vh; /* Posición vertical centrada */
    transform: translate(-50%, -50%); /* Centrar el objeto exactamente */
    width: 800px;;
}
.fifth{
    background-image: url('../data/img/five/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    height: auto;
}
.section-fifth-text{
    width: 50%;
    padding: 64px 0;
    color: var(--color-three);

    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.section-fifth-tittles {
    margin-bottom: 16px;
}
.section-fifth-tittles h3{
    font-size: var(--size-fourth);
}
.section-fifth-tittles h2{
    font-size: var(--size-five);
    font-family: tan-nimbus;
}
.section-fifth-text p{
    font-size: var(--size-six);
    width: 52%;
}
.contact-box-fifth{
    margin-top: 12px;
    margin-bottom: 42px;
}
.contact-me-fifth{
    background: var(--color-three);
    font-size: var(--size-three);
    color: var(--color-two);
    padding: var(--padding-buttons);

    border-radius: var(--border-radius-button);
}
.whats-app-fifth{
    padding: 4px;
    margin-left: 32px;
    font-size: var(--size-three);
    color: var(--color-three);
}
.section-fifth-image{
    width: 60%;
}
/*Seccion fifth (end)*/

/*Seccion foother (Start)*/
footer{
    width: 100%;
    background-image: url('../data/img/footer/1.png');
    background-position: center;
    background-size: 100% 100%;
}
.footer-one{
    width: 100%;
    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 64px;
    border-bottom: solid 1px var(--border-color-three);
}
.message-footer {
    width: 30%;
    z-index: 1;
}
.message-footer p{
    color: var(--color-one);
    font-size: var(--size-six);
    width: 100%;
}
.section-footer-top{
    display: flex;
    justify-content: space-between;
    width: 80%;

    padding-bottom: 16px;
}
.message-footer img{
    width: 180px;
    height: 50px;
}
.footer-navegate{
    display: flex;
    flex-direction: column;
    color: var(--color-one);
}
.footer-navegate a{
    margin-bottom: 16px;
    font-size: var(--size-six);
}
.footer-navegate-data{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: var(--color-one);
}
.footer-navegate-data a{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: var(--size-six);
    margin-bottom: 16px;
}
.footer-navegate-data a img{
    margin-right: 8px;
}
.footer-two{
    display: flex;
    justify-content: space-between;
    width: 60%;

    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
.footer-two p{
    color: var(--color-one);
    font-size: var(--size-three);
}
.box-footer-two{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-one);
    font-size: var(--size-three);
}
.box-footer-two a img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
/*Seccion foother (end)*/