@media (max-width: 600px){

/*Seccion header (Start)*/
    .header-menu{
        width: 80%;
    }
    .logo{
        margin-left: 0;
        }
    .menu-items{
        margin-right: 0;
    }
    /*Seccion header (end)*/

    /*Seccion first (Start)*/
    .first{
        background-image: url('../data/img/first/1m.png');
    }
    .tittle-section-first-one{
        font-size: var(--size-one-movile);
        margin-bottom: 32px;
    }
    .tittle-section-first-two{
        font-size: var(--size-fourth-movile);
    }
    .tittle-section-first-box{
        width: 90%;
    }
    /*Seccion first (end)*/

    /*Seccion second(Start)*/
    .hashtag{
        width: 100%;
        border-radius: 0;
    }
    .about{
        width: 80%;
        align-items: center;
    }
    .tittle-two-section-second{
        font-size: var(--size-fourth-movile);
    }
    /*Seccion second(End)*/

    /*Seccion third (Start)*/
    .about img{
        width: 35vh;
    }
    .tittle-two-section-third{
        font-size: var(--size-fourth-movile);
    }
    .contact-box{
        flex-direction: column;
        max-width: 240px; 
    }
    .contact-me{
        margin-right: 0;
        margin-bottom: 16px;
    }
    /*Seccion third (end)*/

    /*Seccion fourth (Start)*/
    .tittles-two-section-fourth{
        font-size: var(--size-fourth-movile);
    }
    .class-event{
        width: auto;
    }
    .date-event{
        margin-left: 0;
        text-align: center;
    }
    .photos{
        width: 180%;
        justify-content:start;
    }
    /*.box-events{
        padding: 64px 0;
    }*/
    /*Seccion fourth (end)*/
    /*Seccion fifth (Start)*/
    .hand{
        left: -10vw; /* Posición horizontal centrada */
        top: 50%; /* Posición vertical centrada */
        width: 500px;
    }
    .section-fifth-tittles h2{
        text-align: center;
        font-size: var(--size-fourth-movile);
    }
    .contact-box-fifth{
        flex-direction: column;
    }
    .whats-app-fifth{
        margin-top: 16px;
        margin-left: 0;
    }
    /*Seccion fifth (End)*/
    /*Seccion foother (Start)*/
    .section-footer-top{
        width: 80%;
    }
    .footer-navegate{
        justify-content: space-between;
        display: flex;
        flex-direction:row;
        margin-bottom: 16px;
    }
    .footer-navegate-data{
        width: 90%;
    }
    .footer-navegate-data a{
        font-size: var(--size-three);
    }
    .footer-two{
        width: 80%;
    }
    /*Seccion foother (end)*/
}