@media (max-width: 600px){

/*Seccion header (Start)*/
    header{
        justify-content: space-around;
        border: none; 
    }
    .header-menu{
        width: 80%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .logo{
            width: 160px;
            height: 50px;
        }
    .menu-items{
        background-image: url('../data/img/icons/menu-on.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    .menu-items-off{
        background-image: url('../data/img/icons/menu-off.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 35px;
    }
    .list-menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 98%;
        height: 100vh;
        z-index: 100;


background: rgba(255, 255, 255, 0.897);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
        
        flex-direction: column;
        justify-content: space-between;
        padding-top: 34px;
        padding-left: 34px;
        padding-right: 34px;        
    }
    .list-menu li{
        font-size: var(--size-six);
    }
    .display-none {
        display: none;
    }
    /*Seccion header (end)*/

    /*Seccion first (Start)*/
    .first{
        background-image: url('../data/img/first/1m.png');
        background-size:cover;
    }
    .tittle-section-first-one{
        font-size: var(--size-one-movile);

        width: 80%;
        margin: auto;
    }
    .tittle-section-first-two{
        font-size: var(--size-two-movile);
    }

    .tittle-section-first-box{
        text-align: center;
        
        margin-top: 150px;
    }
    /*Seccion first (end)*/

    /*Seccion second(Start)*/
    .second{
        background-size:cover;
        background-position: center;
    }
    .hashtag{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        border-radius: 0;
    }
    .about{
        flex-direction: column;
        justify-content: space-between;
    }
    .tittle-one-section-second{
        margin-left: 36px;
    }
    .texts{
        text-align: center;
    }
    .section-second-about-text{
        margin-top: 32px;
        margin-bottom: 16px;
    }
    /*Seccion second(End)*/

    /*Seccion third (Start)*/
    .third{
        background-size: cover;
        background-position: center;
    }
    .about img{
        order: 2;
    }
    .tittle-one-section-third{
        margin-left: 36px;
        margin-top: 24px;
    }
    .tittle-two-section-third{
        margin-bottom: 16px;
    }
    .contact-box{
        display: flex;
        flex-direction: column;

        margin: auto;
        margin-top: 24px;
        margin-bottom: 24px;
        width: auto;
        max-width: 240px;
        
    }
    .contact-me{
        margin-left: 0;
        margin-bottom: 16px;
        text-align: center;
    }
    .whats-app{
        margin-left: 0px;
    }
    /*Seccion third (end)*/

    /*Seccion fourth (Start)*/
    .fourth{
        background-size:cover;
        background-position: center;

        justify-content:start;
        /*overflow: hidden;*/
    }
    .event-name p{
        width: auto;
    }
    .tittles-section-fourth{
        margin-top: 16px;
        flex-direction: column;
    }
    .box-events{
        margin-bottom: 16px;
        width: 80%;
        height: 40vh;
    }
    .box-events-descriptions{
        flex-direction: column;
    }
    .box-data-event{
        flex-direction: column;
    }
    .class-event{
        margin-left: 34px;
        margin-top: 8px;
    }
    .date-event{
        margin-left: 0;
        text-align: center;
    }
    .history p{
        text-align: center;
    }
    .box-historys{
        flex-direction: column;
        height: 45vh;
    }
    .social-box-fourth{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .photos{
        width: calc(100% + 100px);
        overflow: scroll;
    }
    .section-fourth-tittle-history{
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: center;
    }
    /*Seccion fourth (end)*/
}
/*hacer max-width 280px verificar si es necesario
    .box-historys{
        height: 32vh; <-- ajusta para que se vea bien
    }
*/