:root{
    --size-one:4.9rem;
    --size-two:8.3rem;
    --size-three:1.5rem;
    --size-fourth:3.4rem;
    --size-five:5.8rem;
    --size-six:1.8rem;

    --color-one:#636363;
    --color-two:#0BB2E6;
    --color-three:#FFFFFF;
    --color-fourth:#9AD2E5;

    --border-color-one:#FFFF;
    --border-color-two:#0BB2E6;
    --border-color-three:#6363639a;   

    --border-radius-button:4px;
    --padding-buttons:10px 32px;
    /*--padding-buttons-two:8px 30px;*/


    /*mobile  (start)*/
    --size-one-movile:2.8rem;
    --size-two-movile:5.2rem;
    /*--size-three-movile:1.5rem;*/
    --size-fourth-movile:3.2rem;
    /*--size-five-movile:5.8rem;
    --size-six-movile:1.8rem;*/
    /*mobile  (end)*/

    /*tablet  (start)*/
    /*tablet  (end)*/

    /*desck  (start)*/
    /*desck  (end)*/
}